.Contenedor{
    background-color: rgb(241, 42, 241);
    width: 100%;
    height: 1400px;
}
.encabezado{
    background-color: hotpink;
    width: 100%;
    height: 150px;
}
.menu{
    background-color: rgb(168, 5, 86);
    width: 100%;
    height: 60px;
    display: flex;
}
.Inicio{
    height: 75;
    width: 90px;
    background-color: rgb(223, 112, 219);
    margin: 2px;
}
.Sociales{
    height: 75;
    width: 90px;
    background-color: rgb(223, 112, 219);
    margin: 2px;
}
.Ingles{
    height: 75;
    width: 90px;
    background-color: rgb(223, 112, 219);
    margin: 2px;
}
.contenedor2{
    display: flex;
    width: 100%;
    height: 1200px;
    background-color: lightpink;
}
.izquierdo{
    width: 20%;
    height: 1200px;
    background-color: magenta;
}
.centro{
width: 60%;
height: 1200px;
background-color: mediumpurple;
font-size: 25px;
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
background-image: url(KUROYMELO.jpg);
}

.derecha{
    width: 20%;
    height: 1200px;
    background-color: magenta;
    font-size: 25px;
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
